body {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
    /* nav bar */
.nav-bar {
    display: flex;
    padding: 0.9rem;
    height: 20px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgb(230, 215, 215);
}

.nav-logo img{
    width: 60%;
    height: 30px;
}

.nav-icons > * {
padding: 0.6rem;
}

.nav-icons a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 13px;
}

.nav-buttons button {
    background-color: #326891;
    color: #fff;
    padding: 0.7rem;
    border: none;
    border-radius: 2px;
    font-size: 10px;
    font-weight: bold;
}
    /* Main section */
.container {
    width: 80%;
    margin: auto;
    margin-top: 3rem;
}

.main-title {
    margin-top: 25px;
    margin-left: 8rem;
    margin-bottom: 1rem;
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    line-height: 1.2;
}

.title-image {
    width: 60vw;
}

.image-description {
    margin: 0.7rem 13.5rem 0.7rem 0;
    font-size: 15px;
    color: #666;
    line-height: 1.2;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.image-description small {
    font-size: 12px;
    color: #888;
}

main {
    padding-bottom: 100px;
    
}

.article-header {
    width: 100%;
    height: 50px;
    position: relative;
    padding-top: 30px;
    
}

.main-buttons {
position: absolute;
bottom: 0px;
right: 0px;
}

.main-text {
    width: 50vw;
    margin: auto;
}

.main-text>p {
    padding: 50px;
    font-size: x-large;
    line-height: 1.5em;
    color: rgb(82, 80, 80);
}

aside {
    display: grid;
    grid-template-columns: 70px 140px;
    grid-template-rows: repeat(5, auto);
    grid-gap: 10px;
    grid-template-areas:"header header" 
                        "image  text"
                        "image  text"
                        "image  text"
                        "image  text";
    right: 70px;
    position: absolute;
}

.aside-header {
    border-bottom: 1px solid grey;
    height: 1em;
    text-align: center;
    grid-area: header;
    justify-self: start;
}

aside>a {
    grid-area: "text";
}

aside>img {
    grid-area: "image";
    height: 70px;

}